// Place all the styles related to the home controller here.
// They wisadfads ll automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.splash {
	padding: 25px 50px 100px 50px;
	left: 0;
	height: 100vh;
	width: 100%;
	background-image: url(image-path('bakingsoda.jpg'));
	background-size: 1250px;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #000000;
	color: white;
	font-family: Helvetica;

	h1 {
		font-size: 70px;
		line-height: 130px;
	}

	strong {
		font-size: 200px;
		color: #FFFF00;
	}

	p {
		color: #7A7A7A;
		text-align: center;
		line-height: 5px;
	}
}

p {
	font-size: 30px;
	font-family: Helvetica;
}

